body, pre {
  margin: 0;
  padding: 2% 2%; 
}
body {
  height: 100vh;
  box-sizing: border-box;
}
#codeContainer,#paper {
  position: fixed;
  box-sizing: border-box;
  height: 95%;
  overflow: auto;
  padding: 1%;
} 
#codeContainer {
  left: 0;
  top: 0;
  width: 100%;
}
#paper {
  right: 0;
  top: 0;
  width: 0%;
  color: black;
}
.token.selector {
  color: #999;
}
.token.function {
  color: #999;
}
.token.property {
  color: #999;
}
